@import "tailwindcss";

:root {
  --background: #f4f6f8;
  --foreground: #333333;
  --pb-blue: #052F5F;
  --pb-blue-dark: #001d3d;
  --pb-orange: #d94f18;
  --pb-teal: #00bfa5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pb-blue: var(--pb-blue);
  --color-pb-blue-dark: var(--pb-blue-dark);
  --color-pb-orange: var(--pb-orange);
  --color-pb-teal: var(--pb-teal);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

